web/deploy
web/build
FolkSource_mobile/bootplate/build
FolkSource_mobile/bootplate/deploy
FolkSource_mobile/platforms
backend/target/classes
backend/.idea
backend/.project
backend/FolkSource.iml
backend/personal_pom.xml
backend/server_pom.xml
backend/server_pom.xml
backend/tmp
backend/target
backend/.test_classpath
backend/for_populo
FolkSource
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
