web/deploy/*
web/build/*
FolkSource_mobile/deploy/*
FolkSource_mobile/build/*
backend/target/*
backend/.idea
backend/.project
backend/FolkSource.iml
backend/personal_pom.xml
backend/server_pom.xml
backend/.test_classpath
backend/for_populo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
