web/deploy*
web/build*
mobile/deploy*
mobile/build*
mobile/assets/index.html
mobile/assets/test.json
mobile/assets/test2.json
mobile/assets/up_through_post_office.json
mobile/assets/up_through_post_office_polygons.json
mobile/assets/leaflet-pip
backend/target*
backend/.idea
backend/.project
backend/FolkSource.iml
backend/personal_pom.xml
backend/server_pom.xml
backend/.test_classpath
backend/for_populo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
