[submodule "web/assets/Leaflet.markercluster"]
	path = web/assets/Leaflet.markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster
[submodule "web/assets/Leaflet.label"]
	path = web/assets/Leaflet.label
	url = https://github.com/Leaflet/Leaflet.label
[submodule "web/assets/OverlappingMarkerSpiderfier-Leaflet"]
	path = web/assets/OverlappingMarkerSpiderfier-Leaflet
	url = https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet
[submodule "web/assets/heatmap"]
	path = web/assets/heatmap
	url = https://github.com/pa7/heatmap.js
[submodule "font-awesome"]
	path = font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "web/assets/font-awesome"]
	path = web/assets/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "web/assets/Leaflet.draw"]
	path = web/assets/Leaflet.draw
	url = https://github.com/Leaflet/Leaflet.draw.git
[submodule "web/assets/Leaflet"]
	path = web/assets/Leaflet
	url = https://github.com/Leaflet/Leaflet.git
