[submodule "web/assets/Leaflet.markercluster"]
	path = FolkSource_web/assets/Leaflet.markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster
[submodule "web/assets/Leaflet.label"]
	path = FolkSource_web/assets/Leaflet.label
	url = https://github.com/Leaflet/Leaflet.label
[submodule "web/assets/OverlappingMarkerSpiderfier-Leaflet"]
	path = FolkSource_web/assets/OverlappingMarkerSpiderfier-Leaflet
	url = https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet
[submodule "web/assets/heatmap"]
	path = FolkSource_web/assets/heatmap
	url = https://github.com/pa7/heatmap.js
[submodule "mobile/assets/leaflet"]
	path = mobile/assets/leaflet
	url = https://github.com/Leaflet/Leaflet
[submodule "mobile/assets/leaflet-usermarker"]
	path = mobile/assets/leaflet-usermarker
	url = https://github.com/heyman/leaflet-usermarker
[submodule "mobile/assets/Wicket"]
	path = mobile/assets/Wicket
	url = https://github.com/arthur-e/Wicket
[submodule "font-awesome"]
	path = font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "mobile/assets/font-awesome"]
	path = mobile/assets/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "web/assets/font-awesome"]
	path = FolkSource_web/assets/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "mobile/assets/leaflet-pip"]
	path = mobile/assets/leaflet-pip
	url = https://github.com/mapbox/leaflet-pip
[submodule "web/assets/Leaflet.draw"]
	path = FolkSource_web/assets/Leaflet.draw
	url = https://github.com/Leaflet/Leaflet.draw.git
[submodule "web/assets/Leaflet"]
	path = FolkSource_web/assets/Leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "mobile/assets/Leaflet.MapboxVectorTile"]
	path = mobile/assets/Leaflet.MapboxVectorTile
	url = https://github.com/SpatialServer/Leaflet.MapboxVectorTile.git
