/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
body {
	font-size: 13pt;
	font-weight: 100 !important;
	background-color: #DDFFDD; /* lighter green*/
	/* background-color: #8CC187;
	background-color: #DFDFDF;*/
}
.hidden {
	display: none !important;
}

.cluster-selected {
	border: 2px solid blue;
}

.csenseshowcampaigns-node > div {
	display: block !important;
	overflow: hidden;
}

.csenseshowcampaigns-node > img {
	float: left;
	/*border: 1px solid green;*//*For debug purposes*/
	width: 16px;
}

.csense-ping-layer {
	border: 1px solid black;
	background: rgba(0, 0, 0, 0);
	border-radius: 999px;
}

.submission-marker-div {
	border: 1px solid black;
	opacity: 0.75;
	/*background-color: #BCD2EE;
	background-color: #FFC500;*/
	background-color: #64FF90;
	border-radius: 999px;
}

.popup-list-item {
	border: 1px solid gray;
	padding: 3px;
}
.popup-list-item:hover {
	/*border: 1px solid gray;*/
	/*padding: 3px;*/
	background-color: #DEDEDE;
}
.popup-list-item-heading {
	/*text-decoration: underline;*/
	font-weight: bold;
}
.popup-list-item-body {
	padding-left: 1em;
}

.nice-padding {
	padding: 15px;
}
.panel-width {
	min-width: 30%;
	max-width: 30%;
}
.campaign-panel-width: {
    	min-width: 100%;
}
.campaign-decorator-width: {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.list-selection {
	color: white;
	background-color: green;
	opacity: 0.8;
}
.button-spacing {
	margin-left: 3px;
	margin-right: 3px;
}
.map-button {
	padding: 10px;
	/*border-width: 2px;
	border-style: solid;
	border: 2px solid black;*/
	width: 100%;
}
.test img:hover {
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222;
	box-shadow: 1px 1px 1px #222;
	border: 1px solid darkgrey;
	padding: 2px;
	padding-top: 0px;
}

.text-title-small {
	border-bottom: 1px black solid;
}
.text-title-big {
	border-bottom: 3px black double;
}
.hanging-child {
	width: 97%;
	margin-left: 2%;
}
.number-style {
	color: white;
	padding: 6px 7px;
	-moz-border-radius: 360px;
	-webkit-border-radius: 360px;
	border-radius: 360px;
	background-color: black;
}
.number-style:hover {
	color: black;
	background-color: white;
}
.active {
	background-color: red;
	-moz-box-shadow: 1px 1px 1px #333 inset;
	-webkit-box-shadow: 1px 1px 1px #333 inset;
	box-shadow: 1px 1px 1px #333 inset; 
}
.click-hover:hover:first-child div {
	background-color: white;
	color: black;
}
.click-hover:hover {
	background-color: lightgreen;
}
.button-cancel-style:active, .button-style:active, .toolbar-button-style:active {
	-moz-box-shadow: 1px 1px 1px #444 inset;
	-webkit-box-shadow: 1px 1px 1px #444 inset;
	box-shadow: 1px 1px 1px #444 inset; 
}
.bordering, .bordering-top, .bordering-bottom, .button-cancel-style, .button-style, .toolbar-button-style {
	-moz-box-shadow: 1px 1px 1px #444;
	-webkit-box-shadow: 1px 1px 1px #444;
	box-shadow: 1px 1px 1px #444;
	border: 1px solid black;
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;*/
	font-weight: 100;
}
.button-cancel-style {
	background-color: red;
}
.button-style:hover {
	background-color: #67E667; 
}
.bordering, .bordering-top, .bordering-bottom {
	border: 1px #DEDEDE outset;
	/*background-color: #FFF;
	background-color: #DDFFDD;*/
	background-color: #8CC187; /* middle green */
	padding: 3px;
}
.bordering-box {
	background-color: #FFF;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;*/
}
.bordering {
	margin: 0px 4px 7px 3px;
}
.bordering-top {
	margin: 0px 4px 7px 3px;
}
.bordering-bottom {
	margin: 7px 4px 0px 3px;
}
.active-card {
	background-color: #FFDDDD;
}

/* OVERRIDE ONYX */
.mod-onyx-background {
	background: #43823B;
}
