<?xml version='1.0' encoding='utf-8'?>

<Server port="8011" shutdown="SHUTDOWN">

    <!--APR library loader. Documentation at /docs/apr.html -->
    <Listener className="org.apache.catalina.core.AprLifecycleListener"
        SSLEngine="on" />
    <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
    <Listener className="org.apache.catalina.core.JasperListener" />
    <!-- JMX Support for the Tomcat server. Documentation at /docs/non-existent.html -->
    <!-- <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" /> -->
    <Listener
        className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

    <Service name="Catalina" debug="2">

        <Connector port="8080" protocol="HTTP/1.1"
            connectionTimeout="20000" redirectPort="8443" scheme="http"
            secure="false" SSLEnabled="false"
            emptySessionPath="true" URIEncoding="ISO-8859-1" /> -->

        <!-- Define an AJP 1.3 Connector on port 9009 -->
        <!-- <Connector port="9009" protocol="AJP/1.3" scheme="https" secure="true"
                   redirectPort="8443" />-->

        <Engine name="Catalina" defaultHost="localhost">

            <Realm className="org.apache.catalina.realm.MemoryRealm" />

            <!-- Define the default virtual host Note: XML Schema validation 
                will not work with Xerces 2.2. -->
            <Host name="localhost" appBase="webapps" unpackWARs="true"
                  autoDeploy="true" xmlValidation="false"
                  xmlNamespaceAware="false">

                <Context path="/csense" docBase="csense.war"></Context>

                <!-- Uncomment this to get access logs, but since we have apache
                     access logs, this is initially disabled. -->
                <!-- 
                <Valve className="org.apache.catalina.valves.AccessLogValve"
                       directory="logs" prefix="localhost_access_log."
                       suffix=".txt" pattern="common" resolveHosts="false" />
                -->
            </Host>
        </Engine>
    </Service>
</Server>
