<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{MMM-dd HH:mm:ss}][%p][%t][%C.%M] %m%n" />
		</layout>
	</appender>
	
<!-- 	<appender name="XYZ-CONSOLE" class="org.apache.log4j.ConsoleAppender"> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" value="[%d{MMM-dd HH:mm:ss}][%p][%t][%C.%M] %m%n" /> -->
<!-- 		</layout> -->
<!-- 		<filter class="org.apache.log4j.varia.LevelRangeFilter"> -->
<!-- 			<param name="levelMin" value="WARN" /> -->
<!-- 		</filter> -->
<!-- 	</appender> -->

    <category name="com.opensymphony.xwork2.ognl.OgnlValueStack">
        <priority value="error" />
    </category>
	<logger name="org.apache">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	<logger name="org.springframework.test.context.transaction">
		<level value="WARN" />
	</logger>
    <logger name="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <level value="ERROR" />
    </logger>
	<logger name="org.springframework.orm.hibernate3">
		<level value="WARN" />
	</logger>
    <logger name="org.apache.struts.json.jsonplugin">
        <level value="WARN" />
    </logger>

<!-- 	<logger name="org.hibernate.SQL"> -->
<!-- 		<level value="DEBUG" /> -->
<!-- 	</logger> -->

<!--    <logger name="org.unitils"> -->
<!--        <level value="DEBUG" /> -->
<!--    </logger> -->

<!--    <logger name="org.dbunit"> -->
<!--        <level value="DEBUG" /> -->
<!--    </logger> -->

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
